.parenting {
    display: flex; 
    flex-wrap: nowrap; 
    gap: 20px; 
    overflow-x: auto; 
    overflow-y: hidden; 
    padding: 20px; 
    padding-top:2%;
    scroll-behavior: smooth; 
    white-space: nowrap; 
    cursor:grab;
}
.weather-parent{
    display:none;
}
.main{
    padding-top:3%;
    overflow-x: auto; 
    overflow-y: hidden; 
}
#mobile-search{
    display:none;

}
#mobile-search input{
    justify-self: center;    
}
.parenting::-webkit-scrollbar {
    display: none; 
}

.weather {
    padding: 40px; 
    border-radius: 30px; 
    background-image: linear-gradient(1deg, #000000, #134980, #f18719);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #2f4680 solid;
    margin-left: 2%; 
    margin-right: auto; 
    margin-top: 2%; 
    margin-bottom: 2%;
    width: 430px; 
    height: 520px; 
    user-select: none;
}

.search-bar {
    position:static;
    padding-left: 37%;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: 30px;
}

.search-bar input {
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
}

.search-bar img{
    width:50px;
    padding:15px;
    border-radius:50%;
    background:#ebfffc;
    cursor:pointer;
    margin-right:30px;
}

.weather-icon {
    width: 120px; 
    margin: 15% 0 0 0; 
}


.temperature {
    color: #fff;
    font-size: 60px;
    line-height: 1;
}

.location {
    color: #fff;
    font-size: 32px; 
}
.day {
    color: #fff;
    font-size: 32px; 
}
.weather-data {
    width: 100%;
    margin-top: 10%; 
    color: #fff;
    display: flex;
    justify-content: space-between;
}


.weather-data .col {
    display: flex;
    align-items: flex-start;
    gap: 10px; 
    font-size: 18px; 
    margin-right: 30px; /
}
.weather-data .col span {
    display: block;
    font-size: 14px; 
}


@media (max-width: 730px){
    #windingg{
        width:20px;
    }
    .weather-parent{
        display: grid;
        margin-top:6%;
        grid-template-columns: auto auto auto auto;
        grid-gap: 10px;
        padding: 10px;
        margin-left:6%;
        margin-right:3%;
        margin-bottom:60px;
    }
    .weather-parent >.weather-child{
        background-color: rgba(255, 255, 255, 0.319);
        opacity: 1;
        text-align: center;
        font-size: 30px;
        width:fit-content;
        height:110%;
        border:1px solid black;
        border-radius: 6%;
    }
    .weather-icon-small{
        width:60px;
        margin-top:8%
    
    }
    .day-small {
        color: #fff;
        font-size: 15px; 
    }
    .weather-data-small {
        width:100%;
        color: #fff;
        display: flex;
        justify-content: space-between;
    }
    .weather-data-small .col-small {
        margin-left:6px;
        margin-top:20px;
        display: flex;
        align-items: flex-start;
        gap: 1px; 
        font-size: 9px;  
    }
    .weather-data-small .col-small span {
        display: block;
        font-size: 6px; /* Reduced font size */
    }
    .humid-small{
        width:15px;
    }
    .temperature-small{
        font-size:22px;
        color:white;
    }
    .location-small{
        font-size:13px;
        color:white;
    }
    .parenting {
        flex-direction: column; 
        align-items: center; 
    }
    
    #ww {
        display: flex; 
    }
    .weather{
        display: none; 
        position:fixed;
        margin:0;
        top:0;
        left:0;
        width: 100%; 
        height: 100%;
        border-radius: 0px !important;
        box-shadow: 0px !important;
    }

    
    .weather-data{
        position:absolute;
        bottom:1%;
        padding-left:3%;
        padding-right:4%;
    }

    .search-bar{
        display:none;
        margin-right:5%;
        padding:5px;
        margin-top:6%
    }
    #mobile-search{
        display:flex;
    }
    .search-bar input{
        width:220px;
    }
    .temperature{
        font-size:65px;
    }
    

    .location{
        font-size:30px;
    }
    
    .weather-data img{
        margin-left:7%;
    }
}

    
    @media (max-width: 396px) {
        .weather {
            width: 100%;
            height: 100%;
            border-radius: 0px !important;
            box-shadow: 0px !important;
        }
    }
    
    






.humid{
    padding-top:12%;
}
